<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>veratejic</title>
  <!-- <link rel="shortcut icon" href="./public/img/favicon.ico" type="image/x-icon"> -->

  <link rel="stylesheet" href="./dist/css/styles.css">

  <!-- <link rel="shortcut icon" type="image/png" href="/favicon.png"/> -->

</head>
<body>

  <div class="grid-container">

    <!-- first column -->
    <div class="item1">
      <!-- SWIPER -->
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide" id="">
            <div class="intro">
              <h2 class="slide-title">hello world,</h2>
              <p>This is Vera speaking, scroll down to hear more from me.</p>
            </div>
          </div> <!-- end of 1st slide -->

          <div class="swiper-slide">
            <div class="about">
              <h2 class="slide-title">about</h2>
              <p>I'm work in progress junior front-end developer, looking for very first job opportunity based in Belgrade, Serbia. My aspirations in life are to be better in anything I do, to learn continuously and to set and achieve new goals.
                Currently I'm improving my skills in WRPM - award winning studio.</p>
            </div>
          </div> <!-- end of 2nd slide -->

          <div class="swiper-slide">
            <div class="skills">
              <h2 class="slide-title">skills</h2>
              <div class="skill-wrapper">

                <div class="first-skill-list">
                  <h3 class="list-subject">languages <br><span>frameworks</span></br> </h3>
                  <ul class="frameworks-list">
                  <li>HTML</li>
                  <li>CSS, Sass</li>
                  <li>Bootstrap</li>
                  <li>JavaScript, Jquery</li>
                  <li>Wordpress</li>
                </ul>
              </div>

                <div class="second-skill-list">
                  <h3 class="list-subject">software <br><span>tools</span></br></h3>
                  <ul class="tools-list">
                    <li>Atom</li>
                    <li>Git, GitHub | Bitbucket</li>
                    <li>Jira, Trello</li>
                    <li>InVision</li>
                    <li>Slack</li>
                  </ul>
                </div>

            </div>  <!-- end of .skill-wrapper -->
            </div>
          </div> <!-- end of 3rd slide -->

          <div class="swiper-slide">
            <div class="experiance">
              <h2 class="slide-title">experiance</h2>
              <p>As an intern in WRPM studio I was working on small parts for big projects. I was also introduced to Bootstrap, JavaScript and jQuery basis as well as the Wireframing and prototyping.
                Slide down and check my <a href="https://github.com/veratejic" target="_blank">GitHub repositories</a> or <a href="/document/resume.pdf" target="_blank">download my resume</a> to get more clue of what I was doing. </p>
            </div>
          </div> <!-- end of 4th slide -->

          <div class="swiper-slide contact-slide" id="bottom">
            <div class ="contact-wrapper">
              <a href="#top" class="red gototop">page up</a>
              <div class="contact">
                <h2 class="slide-title">get yourself connected</h2>

                <div class="mailbox" itemscope itemtype="http://schema.org/Person">
                  <a href="mailto:veratejic6@gmail.com?subject=feedback" itemprop="email">mailto: veratejic6@gmail.com</a>
                </div>
                <div class="social" itemscope itemtype="http://schema.org/Person">
                  <a class="webpage" itemprop="url" href="www.veratejic.com">vt</a>
                  <a href="https://github.com/veratejic" target="_blank">GitHub</a>
                  <a href="https://www.linkedin.com/in/vera-tejic-498726a5/" target="_blank">LinkedIn</a>
                  <a href="https://www.instagram.com/faith.ara/" target="_blank">Instagram</a>
              </div>
              </div>
            </div>
          </div> <!-- end of 5th slide -->

        </div>

        <!-- Add Pagination -->
      <div class="dashline">
        <div class="swiper-pagination"></div>
      </div><!-- end of dashline -->

    </div><!-- end of swiper-container -->
</div><!-- end of item -->

    <!-- second column -->
    <div class="item2">
      <div class ="image-wrapper">
        <div class="inner-image">
        </div>
      </div>
      <h1 class="contacthead">get yourself connected</h1>

    </div>

  </div>  <!-- end .grid-container -->


<!-- NAVBAR -->
  <div class="navbar" itemscope itemtype="http://schema.org/Person">
    <h1 class="name" itemprop="name">vera tejic</h1>
    <a class="contact-link gotobottom" href="#bottom">contact</a>
  </div>



  <!-- FOOTER -->
  <div class="footer">
    <span>scroll down</span>
    <a href="#top" class="red gototop">page up</a>
  </div>


  <script src="/dist/app.js"></script>

</body>
</html>
